.select_txt {
    text-align: center;
    font-size: 400%;
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
    font-weight: bold;
}

.select_egg {
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

/*=============
.bg_pattern
==============*/

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
  }
  .Rhombus {
    background-image:  linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
    background-position:  20px 0, 20px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
  }
  
  /*=============
  base
  ==============*/
  
  html, body {
    margin: 0;
    padding: 0;
  }
  