.title { /*育成ゲーム*/
    text-align: center;
    font-size: 400%;
    font-family: "arial black";
}
.button_solid013{ /*ボタンの場所*/
    margin-right:auto;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
}
.button_solid013 a { /*ボタンの色や形*/
    background: #6bb6ff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 5px;
    border-bottom: 4px solid #1d7fde;
    overflow: hidden;
}

.button_solid013 a:active { /*ボタンのアクション*/
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.button_solid013 a:before { /*スタートの位置*/
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient( 130deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 55%);
    animation: shine 3s infinite;
}
@keyframes shine { /*ボタンのアクション*/
    33% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
}


/*=============
.bg_pattern
==============*/

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
  }
  .ZigZag {
    background-image:  linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
    background-position:  20px 0, 20px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
  }
  
  /*=============
  base
  ==============*/
  
  html, body {
    margin: 0;
    padding: 0;
  }
  /* body { 多分いらないところ？
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: .025em;
    line-height: 1.8;
  }
  * {
    box-sizing: border-box;
  }
  .section {
    max-width: 1024x;
    margin: 0 auto;
    padding: 100px 20px 1000px;
  }
  ._a {
    max-width: 300px;
    margin: 0 auto;  
  }
  ._a a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.0em 1.0em;
    border: 1px solid #222222;
    background: linear-gradient(to right, #ffffff 50%, #222222 50%);
    background-size: 200% auto;
    color: #222222;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    position: relative;
  }
  ._a a:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }
  ._a a:hover {
    color: #ffffff;
    background-position: -100% 0;
  } */