<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>育成ゲーム</title>
    <link rel="stylesheet" href="static/css/finish.css" type="text/css">
  </head>
  <body>
    <header>

    </header>
    <div class="bg_pattern Rhombus"></div>
    {%if death%}
      <h3>死にました</h3> 
    {%elif runaway%}
      <h3>逃げました</h3> 
    {%else%}
      <h3>ちゃんと成長できたね！</h3> 
    {%endif%}


    {%if death%}
      <img src="static/images/death.png" width="25%" height="25%">
    {%elif runaway%}
      <img src="static/images/runaway.png" width="25%" height="25%">
    {%elif status == 4%}
      <img src="static/images/4.png" width="25%" height="25%">
    {%elif status == 5%}
      <img src="static/images/5.png" width="25%" height="25%">
    {%elif status == 9%}
      <img src="static/images/9.png" width="25%" height="25%">
    {%elif status == 10%}
      <img src="static/images/10.png" width="25%" height="25%">
    {%endif%}
    <h3>おわり</h3>
  </body>
</html>