<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>育成ゲーム</title>
    <link rel="stylesheet" href="static/css/title.css" type="text/css">
  </head>
  <body>
    <div class="bg_pattern ZigZag"></div>
    {%if death%}
      <h3>死にました</h3> 
    {%elif runaway%}
      <h3>逃げました</h3> 
    {%else%}
      <h3>ちゃんと成長できたね！</h3> 
    {%endif%}


    {%if death%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%elif runaway%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%elif status == 2%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%elif status == 3%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%elif status == 6%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%elif status == 7%}
      <img src="static/images/bird_maruitori.png" width="25%" height="25%">
    {%endif%}
    <h3>おわり</h3>
  </body>
</html>