<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>育成ゲーム</title>
    <link rel="stylesheet" href="static/css/game.css" type="text/css">
  </head>
  <body>
    <header>
      <div class="nav">
        <div class="bg_pattern Rhombus"></div>
        <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
        <!-- ハンバーガーアイコン -->
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <!-- メニュー -->
        <nav class="nav_content">
          <ul class="nav_list">
            <li class="nav_item"><a href="game?task=eat">ごはんをあげる</a></li>
            <li class="nav_item"><a href="game?task=play">あそぶ</a></li>
            <li class="nav_item"><a href="game?task=sleep">寝る</a></li>
            <li class="nav_item"><a href="game?task=clean">そうじ</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <h3>{{day}}日目</h3>
    <div class="st">
      <ul>
        <li>満腹度：{{ bird.hungry }}</li>
        <li>ほこり：{{ bird.dust }}</li>
        <li>好感度：{{ bird.love }}</li>
      </ul>
    </div>
    {%if status == 1%}
      <img src="static/images/bird_1.png" width="25%" height="25%">
    {%else%}
      <img src="static/images/bird_2.png" width="25%" height="25%">
    {%endif%}
    <div>
      {{message}}
    </div>
  </body>
</html>