<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>育成ゲーム</title>
    <link rel="stylesheet" href="static/css/select.css" type="text/css">
  </head>
  <body>
    <div class="select_txt">
      <p>卵を選んでね</p>
    </div>
    <div class="select_egg">
      <img src="static/images/star_egg.png" width="25%" height="25%" id="egg_1">
      <img src="static/images/fish_egg.png" width="25%" height="25%" id="egg_2">
    </div>
  </body>
</html>