<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>育成ゲーム</title>
    <link rel="stylesheet" href="static/css/title.css" type="text/css">
  </head>
  <body>
    <div class="bg_pattern ZigZag"></div>
    <!-- <div class="section">
      <div class="_a"><a href="https://125naroom.com/web/3737" target="_blank">【CSS】Background Patterns / ZigZag</a></div>
      </div> -->
    <div class="title">
      <p>育成ゲーム</p>
    </div>
    <div class="button_solid013">
      <a href="select">スタート！</a>
    </div>
  </body>
</html>